body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#teacher-list button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

#stars span {
    font-size: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}
